{
    "authority": "https://login.microsoftonline.com/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
    "client_id": "a1000000-0000-0000-0000-000000000000",
    "scope": ["https://insert-your-org-here.crm.dynamics.com/.default"],
    "secret": "ABCDE~FGHI-_jklmnopqrstuvwxyz0123456789_",
    "accounts": "https://insert-your-org-here.api.crm.dynamics.com/api/data/v9.0/accounts"
}